<footer class="bg-(--secondary-color) p-6 text-center flex flex-col gap-4">
  <p class="text-(--accent-color)/70 text-sm">
    &copy; {new Date().getFullYear()} Yésica Fuentealba. Todos los derechos reservados.
  </p>
  <p class="text-(--accent-color)/70 text-sm">
    Disigned by <a
      href="https://www.linkedin.com/in/dylangómez09"
      rel="noopener noreferrer"
      class="cursor-pointer hover:text-(--primary-color) transition duration-300"
      >Dylan Gómez</a>
  </p>
</footer>
