@import "tailwindcss";

:root {
    --primary-color: #ddd0c8;
    --secondary-color: #323232;
    --accent-color: #f9f9f9;
}

html, body {
    scroll-behavior: smooth;
    background-color: var(--primary-color);
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: "Parisienne", cursive;
    font-size: 80px;
}

h2, h3, h4, h5, h6, p {
    font-family: "Lexend Exa", sans-serif;
}

a {
    text-decoration: none;
    font-family: "Lexend Exa", sans-serif;
}