@import "tailwindcss";

:root {
    --primary-color: #ddd0c8;
    --secondary-color: #323232;
    --accent-color: #f9f9f9;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: "Parisienne";
    font-size: 80px;
}

h2, h3, h4, h5, h6, p {
    font-family: "Lexend Exa", sans-serif;
}

a {
    text-decoration: none;
    font-family: "Lexend Exa", sans-serif;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 48px;
}   

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 18px;
}